::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #e5e7eb;
    border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #cbd5f5;
}

.dark ::-webkit-scrollbar-thumb {
    background-color: #3f3f46;
}

.dark ::-webkit-scrollbar-thumb:hover {
    background-color: #60a5fa;
}

* {
    scrollbar-width: thin;
    scrollbar-color: #e5e7eb transparent;
}

.dark * {
    scrollbar-color: #3f3f46 transparent;
}